nav{
	background-color: ;
}

.navbar-brand{
	color:#189ADE;
	font-size: 30px;
	font-weight: bold;
}

footer {
	background-color: #333333;
	padding:30px 0px;
	color:#ccc;
	margin-top:50px; 
}


.banner{
	height:363px;
	background-image: url(../img/test2.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 30px;
}

.D{
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.information h1{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 30px;
	font-family: "Microsoft JhengHei ";
}


